#content{
    margin-top:16px;
}
#royalMap #royalOwnerIcon{
    display:block;
    height:30px;
    width:30px;
    float:left;
    -moz-border-radius:15px; -khtml-border-radius:15px; -webkit-border-radius:15px; border-radius:15px;
    box-shadow:0px 0px 18px #FBD109;
    margin-right:20px;
}
#royalMap #royalIntro{
    line-height:30px;
}
.lowSix,.highThree{
    list-style:none;
}
#highPalace{
    padding:30px 0 20px;
}
.palace{
    display:block;
    float:left;
    position:relative;
}
#royalMap .build{
    background:url(../images/game/game-needBuild.jpg) no-repeat;
    background-size:cover;
}
#royalMap .needLive{
    background:url(../images/game/add.png) no-repeat;
    background-size:cover;
}
.highThree .palace{
    margin:0 20px;
    height:55px;
    width:55px;
    box-shadow:0px 0px 18px #E53E38;
    -moz-border-radius:8px; -khtml-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
}
.highThree,#lowPalace{
    width:286px;
    margin:0 auto !important;
    text-align:center;
}
#lowPalace .lowSix{
    width:50%;
    float:left;
    margin:0;
    padding:0;
}
.lowSix .palace{
    margin:13px;
    width:45px;
    height:45px;
}
.leftSix .palace{
    box-shadow:0px 0px 18px #F26721;
}
.rightSix .palace{
    box-shadow:0px 0px 18px #A3D0DB;
}
.needBuild{
    font-weight:bold;
    color:whiteSmoke;
    position:relative;
    font-size:12px;
    background:rgba(55,55,55,0.5);
}
#highPalace .needBuild{
    top:25px;
}
#lowPalace .needBuild{
    top:15px;
}
