/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a
{
    text-decoration:none;
    font-size:12px/1.5;
}
/*--------------------------------
            layout
---------------------------------*/
body,h1,h2,h3,h4{
    font-family:Microsoft Yahei,Verdana, Tahoma, Segoe, sans-serif;
}
.hide{
    display:none;
}
.clearfix:after{content:"\0020"; display:block; height:0; clear:both;}
.clearfix{zoom:1;}
.page{
    position:relative;
    background:#FFF url(../images/bg.jpg) repeat;
}
.center{
    width:1004px;
    margin:0 auto;
    text-align:left;
}
.loading-big{
    height:100px;
    background:url(../images/loading-big.gif) no-repeat center;
}
#layout{
    text-align:center;
}
/*----------------------------
            home
-----------------------------*/
#adImgBox{
    height:430px;
    overflow:hidden;
}
#adImgBox ul{
    display:block;
    height:1720px;
}
#header{
    position:relative;
}
#adIntroduce{
    position:absolute;
    top:270px;
    left:-30px;
    width:500px;
    padding:14px;
    font-weight:bold;
}
#adIntroduce ul,#adIntroduce li,#adIntroduce a{
    display:block;
}
#adIntroduce a{
    width:200px;
    padding:14px 20px;
    float:left;
    font-size:20px;
    color:#FFF;
    text-align:center;
    background-color:#373930;
}
#adIntroduce .ad-now a,#adIntroduce a:hover{
    background-color:#BE203D;
}
#splitBar{
    border-top:2px solid #BBB;
    border-bottom:2px solid #BBB;
    height:30px;
    width:100%;
    background-color:#AAA;
    position:absolute;
    top:396px;
}
#focusOnWhat{
    position:relative;
    height:38px;
    width:100px;
    top:-5px;
    background-color:#EEE;
}
#fc_o_w_top{
    width:100px;
    height:3px;
    background-color:#999;
}
#fc_o_w_bottom{
    position:absolute;
    top:38px;
    left:18px;
    height:0;
    width:0;
    border:8px solid #37393D;
    border-top:8px solid #EEE;
}
#content{
    background-color:#37393D;
}
#channels{
    color:#FFF;
    padding:20px 0;
}
#channelList,.channelItem{
    display:block;
}
.channelItem{
    height:150px;
    line-height:150px;
    float:left;
    position:relative;
    margin:10px 16px 10px 0;
    -moz-opacity:.6; opacity:.6; -ms-filter:"alpha(opacity=.6*100)"; filter:alpha(opacity=.6*100); zoom:1;
    cursor:pointer;
}
#channels .activeChannel{
    -moz-opacity:1.0; opacity:1.0; -ms-filter:"alpha(opacity=1.0*100)"; filter:alpha(opacity=1.0*100); zoom:1;
}
.channelName{
    position:absolute;
    z-index:800;
    width:25px;
    display:none;
    padding:10px;
    color:white;
    line-height:24px;
    font-weight:bold;
    word-wrap:break-word;word-break:break-all;
}
#cpChannel{
    background:#00B8E1 url(../images/ch-computer.png) no-repeat center;
    width:150px;
}
#ecChannel{
    background:#609725 url(../images/ch-card.png) no-repeat center;
    width:150px;
}
#clChannel{
    width:310px;
    background-color:#E29718;
    text-align:center;
}
#cl_subChannel{
    margin:0 auto;
    width:310px;
}
#cl_sub_female,#cl_sub_male{
    width:150px;
    height:150px;
    float:left;
}
#cl_sub_female{
    margin-right:5px;
    background:url(../images/ch-cl-fm.png) no-repeat center;
}
#cl_sub_male{
    margin-left:5px;
    background:url(../images/ch-cl-m.png) no-repeat center;
}
#hpChannel{
    background:#F180A4 url(../images/ch-help.png) no-repeat center;
    width:150px;
}
#waitChannel-gray{
    background:#59686B url(../images/ch-wait.png) no-repeat center;
    width:150px;
}
.channelNameR{
    right:-45px;
}
.channelNameL{
    left:-45px;
}
/*form*/
#formElm{
    margin:20px 0 20px 20px;
}
#formElm li{
    padding-left:30px;
    -moz-border-radius:8px; -khtml-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
    border-right:6px solid #00B8E1;
    border-left:6px solid #00B8E1;
    margin-bottom:12px;
}
#formElm li:hover,#formElm li.hover{
    background-color:#DDD;
    font-weight:bold;
}
#formElm li:hover .ml-r,#formElm li.hover .ml-r{
    display:block;
}
#formElm .ml-l,#formElm .ml-c, #formElm .ml-r{
    float:left;
    line-height:60px;
}
#formElm .ml-l{
    width:180px;
}
#formElm .ml-c{
    padding-right:25px;
}
#formElm .ml-c input{
    height:25px;
    line-height:25px;
    width:300px;
}
#formElm .ml-r{
    width:400px;
    display:none;
    font-weight:normal;
    color:#888;
}
#formElm .ml-r span{
    color:red;
}
#formElm #submitButton{
    border:none;
    width:88px;
    height:26px;
    line-height:26px;
    background:url(../images/submit.gif) no-repeat center;
    cursor:pointer;
}
/*market*/
#market{
    margin-bottom:20px;
    background-color:#CCC;
}
#marketBox{
    position:relative;
}
#marketContent,#subForm{
    padding:20px 10px;
}
.marketContentOnSubmit{
    position:absolute;
}
.channelTitle{
    line-height:40px;
    font-size:24px;
    font-weight:bold;
    color:#232323;
    text-indent:12px;
    border-left:8px solid #D85334;
    border-bottom:3px solid #D85334;
}
.channelTitle span{
    text-indent:30px;
    color:#EEE;
}
.channelServiceList{
    margin:20px 0;
}
.channelServiceList li h3{
    font-size:18px;
    color:#595959;
    line-height:32px;
    text-indent:8px;
    letter-spacing:2px;
    border-bottom:6px solid #4C90C1;
}
.channelServiceList li{
    float:left;
}
.channelServiceList li a{
    display:block;
    padding:20px 20px 20px 96px;
    height:76px;
    width:218px;
    color:#232323;
    -moz-border-radius:8px; -khtml-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
}
.channelServiceList li a:hover{
    background-color:#DDD !important;
}
#cpMk-serviceList #cpMk-s-system a{
    background:url("../images/computer/system-64.png") no-repeat 18px 16px;
}
#cpMk-serviceList #cpMk-s-network a{
    background:url("../images/computer/network-64.png") no-repeat 18px 16px;
}
#cpMk-serviceList #cpMk-s-web a{
    background:url("../images/computer/web-64.png") no-repeat 18px 16px;
}
#cpMk-serviceList #cpMk-s-software a{
    background:url("../images/computer/software-64.png") no-repeat 18px 16px;
}
#cpMk-serviceList #cpMk-s-office a{
    background:url("../images/computer/office-64.png") no-repeat 18px 16px;
}
#cpMk-serviceList #cpMk-s-other a{
    background:url("../images/computer/other-64.png") no-repeat 18px 16px;
}
