/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size:14px;
}
a
{
    text-decoration:none;
}
strong{
    font-weight:bold;
}
body,h1,h2,h3,h4{
    font:normal 12px Tahoma,Microsoft YaHei,Verdana,Arial,Helvetica,sans-serif;
}
/*--------------------------------
            layout
---------------------------------*/
.hide{
    display:none;
}
.clearfix:after{content:"\0020"; display:block; height:0; clear:both;}
.clearfix{zoom:1;}
.left{float:left;}
.right{float:right;}
.page{
    position:relative;
    background:#93C5EA url(../images/bg.jpg) repeat-x;
    overflow-x:hidden;
}
.center{
    width:1004px;
    margin:0 auto;
    text-align:left;
}
.loading-big{
    height:100px;
    background:url(../images/loading-big.gif) no-repeat center;
}
#lightbox a{
    cursor:pointer;
}
#layout{
    text-align:center;
    position:relative;
}
#gotop{
    position:fixed;
    right:80px;
    bottom:20px;
    width:50px;
    height:50px;
    background:url(../images/gotop.png) 0 -50px no-repeat;
    outline:0;
    display:none;
}
#gotop:hover{
    background-position:0 0;
}
#market{
    background:url(../images/bg.png) repeat-y center top;
    padding-bottom:20px;
}
.ifBoxCont{
    position:relative;
    z-index:202;
}
/*----------------------------
            home
-----------------------------*/
.side{
    cursor:pointer;
}
#moyo-sideBar-clone{
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width:0;
    background:#EEE;
    z-index:666;
    overflow:hidden;
    box-shadow:-10px 0 10px 0 rgba(0, 0, 0, 0.1);
    border-left:1px solid #E2E2E2;
    text-align:left;
}
.m-s-content{
    position:relative;
    width:100%;
}
.m-s-close{
    position:absolute;
    top:20px;
    left:-2px;
}
.m-s-close a{
    display:block;
    padding:8px 22px;
    background:#F85808;
    color:whiteSmoke;
    font-weight:bold;
    box-shadow:0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.m-s-close a:hover{
    background-color:#8EC953;
}
.m-s-c-inner{
    padding:70px 0 0 10px;
}
#home{
    position:relative;
}
#home-boxes{
    margin:28px 0 20px;
}
li.fullSizeBox{
    height:132px;
    width:271px;
}
li.halfSizeBox,li.fullSizeBox{
    float:left;
    margin:4px;
}
li.halfSizeBox a,li.fullSizeBox a{
    display:block;
    height:132px;
    width:132px;
    text-indent:-2000px;
    -moz-opacity:.8; opacity:.8; -ms-filter:"alpha(opacity=.8*100)"; filter:alpha(opacity=80); zoom:1;
}
li.halfSizeBox a:hover,li.fullSizeBox a:hover{
    -moz-opacity:1; opacity:1; -ms-filter:"alpha(opacity=1*100)"; filter:alpha(opacity=100); zoom:1;
}
#rightHeaderInfo{
    padding:10px 18px;
    height:112px;
    width:235px;
    background-color:#2A82EC;
    color:white;
}
#rightHeaderInfo div{
    float:left;
}
#rightHeaderInfo_data,#rightHeaderInfo_index{
    width:100%;
}
#rightHeaderInfo_weather{
    font-weight:bold;
    margin-left:18px;
    padding-right:18px;
    font-size:16px;
}
/*---header---*/

#h-b-item-qq{background:#DA562F url(../images/navigation_bg.png) no-repeat -264px -132px;}
#h-b-item-163{background:#00A6D0 url(../images/navigation_bg.png) no-repeat left top;}
#h-b-item-weibo{background:#00A21B url(../images/navigation_bg.png) no-repeat -132px -264px;}
#h-b-item-QQweibo{background:#118FB8 url(../images/navigation_bg.png) no-repeat -396px -264px;}
#h-b-item-qzone{background:#F29B10 url(../images/navigation_bg.png) no-repeat -528px -264px;}
#h-b-item-doubanFm{background:#00C47D url(../images/navigation_bg.png) no-repeat -264px top;}
#h-b-item-webQQ{background:#2A82EC url(../images/navigation_bg.png) no-repeat left -264px;}
#h-b-item-youku{background:#8EA300 url(../images/navigation_bg.png) no-repeat -264px -264px;}
#h-b-item-tudou{background:#5434AF url(../images/navigation_bg.png) no-repeat -528px -132px;}
#h-b-item-qy{background:#BC1C48 url(../images/navigation_bg.png) no-repeat -132px -132px;}
#h-b-item-game{background:#D44A26 url(../images/navigation_bg.png) no-repeat -396px top;}
#h-b-item-train{background:#019317 url(../images/navigation_bg.png) no-repeat -396px -132px;}
#h-b-item-calender{background:#00C47D url(../images/navigation_bg.png) no-repeat -132px top;}
#h-b-item-mtv{background:#00A21B url(../images/navigation_bg.png) no-repeat -528px top;}
#h-b-item-photo{background:#00A6D0 url(../images/navigation_bg.png) no-repeat left -132px;}
#h-b-item-dingxi{background:#DA562F url(../images/navigation_bg.png) no-repeat left -396px;}
#h-b-item-dingxiRen{background:#00A6D0 url(../images/navigation_bg.png) no-repeat -132px -396px;}
#h-b-item-dingxiGA{background:#5434AF url(../images/navigation_bg.png) no-repeat -264px -396px;}
#h-b-item-dingxiJJ{background:#BC1C48 url(../images/navigation_bg.png) no-repeat -396px -396px;}
#h-b-item-service{background:#00A21B url(../images/navigation_bg.png) no-repeat right -396px;}
#h-b-item-forum{
    background-color:#EC7026;
    color:white;
}
#h-b-i-f-count{
    width:109px;
    margin:10px;
    text-align:center;
    -moz-opacity:.8; opacity:.8; -ms-filter:"alpha(opacity=100)"; filter:alpha(opacity=100); zoom:1;
}
#h-b-i-f-count span{
    font-size:18px;
    font-weight:bold;
}
#h-b-i-f-detal{
    width:128px;
    margin:10px 10px 10px 0;
    height:29px;
}
#h-b-i-f-d-forum a{
    display:block;
    text-indent:0;
    color:white;
    width:112px;
    height:14px;
    margin:4px 0;
    overflow:hidden;
    font-weight:bold;
    -moz-opacity:1; opacity:1; -ms-filter:"alpha(opacity=100)"; filter:alpha(opacity=100); zoom:1;
    color:whiteSmoke;
}
#h-b-i-f-d-forum h2{
    font-weight:bold;
    font-size:15px;
}
#h-b-i-f-d-forum a:hover{
    text-decoration:underline;
}
#h-b-i-f-d-forum ul{
    list-style:disc inside;
}
.ie #h-b-i-f-d-forum ul,.ie8 #h-b-i-f-d-forum ul,.ie9 #h-b-i-f-d-forum ul{
    list-style:none inside;
    padding-left:10px;
}
#h-b-item-sale{
    background-color:#5434AF;
}
.homeGoodsItem{
    margin-bottom:10px;
}
#h-b-item-sale a{
    text-indent:0;
    padding:0 !important;
}
#h-b-item-sale ul,#h-b-item-sale a{
    width:251px;
    height:112px;
    padding:10px;
    overflow:hidden;
}
#h-b-item-sale .hgiImg,#h-b-item-sale .hgiImg img{
    width:112px;
    height:112px;
}
#h-b-item-sale .hgiImg{
    margin-right:10px;
}
#h-b-item-sale .hgiDetal{
    width:125px;
    color:white;
    position:relative;
    height:112px;
}
.hgiDetal h3{
    font-size:14px;
    font-weight:bold;
}
.hgiDetal #goodShowContent_price{
    position:absolute;
    font-size:18px;
    line-height:18px;
    text-align:right;
    bottom:0;
    right:0;
}
.hgiDetal #goodShowContent_price span{
    color:white;
}
#h-b-item-infos{
    background-color:#C22140;
}
#h-b-i-i-shops a,#h-b-i-i-infos a{
    text-indent:0;
    color:whiteSmoke;
}
#h-b-i-i-shops,#h-b-i-i-infos{
    width:42%;
    height:112px;
    padding:10px 6px;
    color:white;
    overflow:hidden;
}
#h-b-i-i-shops,#h-b-i-i-infos{
    text-align:center;
    font-size:14px;
}
#h-b-i-i-shops span,#h-b-i-i-infos span{
    display:block;
    width:100%;
    font-size:60px;
    font-weight:bold;
}
#h-b-i-i-infos span{
    color:#00C47D;
}
#h-b-i-i-shops b,#h-b-i-i-infos b{
    font-weight:bold;
}
#home,#market{
    margin-top:96px;
}
#channelList{
    margin:12px 12px 8px;
}
#header-navigation{
    top:0;
    width:100%;
    position:fixed;
    z-index:20;
    background:whiteSmoke;
    border-bottom:1px solid #D6D6D6;
    box-shadow:0 3px 10px 5px rgba(0,0,0,.3);
}
#market-status-bar h3{
    text-align:left;
    font-weight:bold;
    line-height:100px;
    font-size:24px;
    color:#666;
}
.channelItem{
    float:left;
    margin:8px 12px 8px;
    cursor:pointer;
    padding:0 8px 0 0;
}
.activeChannel h1,.activeChannel a{
    color:#EF7C00;
    font-weight:bold;
}
.channelItem span{
    display:block;
    width:32px;
    height:32px;
    margin-right:6px;
    -moz-opacity:.5; opacity:.5; -ms-filter:"alpha(opacity=50)"; filter:alpha(opacity=50); zoom:1;
}
#channelList .activeChannel span{
    -moz-opacity:1.0; opacity:1.0; -ms-filter:"alpha(opacity=100)"; filter:alpha(opacity=100); zoom:1;
}
.channelItem h1{
    line-height:32px;
}
#logo{
    height:46px;
    width:96px;
    background:url(../images/nav&logo.png) no-repeat left -96px;
    margin:0 40px 0 0;
}
#homeChannel span{
    background:url(../images/nav&logo.png) no-repeat -64px -32px;
}
#doorChannel span{
    background:url(../images/nav&logo.png) no-repeat -32px top;
}
#infosChannel span{
    background:url(../images/nav&logo.png) no-repeat left -32px;
}
#saleChannel span{
    background:url(../images/nav&logo.png) no-repeat -64px top;
}
#forumChannel span{
    background:url(../images/nav&logo.png) no-repeat left top;
}
#livingChannel span{
    background:url(../images/nav&logo.png) no-repeat -32px -32px;
}
/*siteBar*/
#siteBar{
    width:1004px;
    margin:0 auto;
    text-align:center;
}
#siteBar-itemList{
    text-align:left;
    position:fixed;
    left:20px;
    top:120px;
    z-index:1000;
}
#siteBar-itemList li a{
    display:block;
    width:60px;
    height:32px;
    padding:10px 10px 10px 42px;
    color:white;
    line-height:32px;
    text-indent:10px;
    border-bottom:1px dashed #4F702E;
}
#siteBar #siteBar-itemList li a:hover{
    width:80px;
    font-weight:bold;
    background-color:#00B8E1;
}
#s-i-home{
    background:#8EC953 url(../images/bar-home.gif) no-repeat 10px 10px;
}
#s-i-login{
    background:#8EC953 url(../images/bar-login.gif) no-repeat 10px 10px;
}
#s-i-back{
    background:#8EC953 url(../images/bar-back.gif) no-repeat 10px 10px;
}
#s-i-message{
    background:#8EC953 url(../images/bar-talk.gif) no-repeat 10px 10px;
}
#siteBar #s-i-settings{
    background:#8EC953 url(../images/bar-setting.gif) no-repeat 10px 10px;
}
#siteBar #s-i-ssl{
    background:#8EC953 url(../images/bar-safe.gif) no-repeat 10px 10px;
}
#siteBar #s-i-groupJoin{
    background-color:#8EC953;
    border-bottom:none;
    padding-left:0px;
    width:102px;
    font-size:12px;
    line-height:12px;
    text-align:center;
}
#s-i-groupJoin img{
    margin-left:8px;
}
#siteBar #s-i-groupJoin:hover{
    width:112px !important;
}
/*group topic list*/
#t_t_l_groupContent{
    width:616px;
    margin-top:20px;
}
#t_t_l_groupContent h2{
    padding-bottom:10px;
    border-bottom:1px solid #EEE;
}
.t_topicList_topic{
    padding:10px;
    border-bottom:1px solid #EFF1F2;
}
.t_topicList_topic img{
    width:32px;
    height:32px;
    margin-right:10px;
}
.t_topicList_topic h1,.t_topicList_topic span{
    line-height:32px;
    font-size:15px;
}
.t_topicList_topic span{
    display:block;
    padding:0 12px;
    background-color:gray;
    color:whiteSmoke;
    font-weight:bold;
}
.t_topicList_topic .group_tag{
    margin:6px;
    padding:0 8px;
    line-height:22px;
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}
.group_tag_0{
    background-color:#C79810 !important;
}
.group_tag_1{
    background-color:#FF0084 !important;
}
.group_tag_2{
    background-color:#3F4C6B !important;
}
.group_tag_3{
    background-color:#008C00 !important;
}
.group_tag_4{
    background-color:#CC0000 !important;
}
.group_tag_5{
    background-color:#FF7400 !important;
}
.group_tag_6{
    background-color:#FF0084 !important;
}
.group_tag_7{
    background-color:#6BBA70 !important;
}
.group_tag_8{
    background-color:#36393D !important;
}
.group_tag_9{
    background-color:#FF8A8A !important;
}
.t_topicList_topic.hover,.t_topicList_topic:hover{
    border-color:#E0E3E6;
    background-color:#FAFAFA;
}
/*group topic show*/
#group_n_c_p_bodyShow{
    line-height:23px;
    word-wrap:break-word;
    font:14px/1.5 arial, sans-serif;
    border-bottom:1px solid #EFF1F2;
}
#group_comment_new textarea{
    height:136px;
}
#group_comments_list li div{
    padding:0;
}
#group_comments_list li{
    padding:8px 0;
    border-bottom:1px solid #F2F2F2;
}
#group_comments_list li img{
    width:64px;
    height:64px;
    margin-right:18px;
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}
.commentMain{
    width:500px;
}
.commentM_info{
    margin-bottom:8px;
}
.commentM_i_name{
    color:#4B8DC5;
    font:14px/1.5 arial, sans-serif;
}
.commentM_i_time,.commentM_i_floor{
    color:#B3B3B3;
    font-size:12px;
    margin-left:8px;
    line-height:20px;
}
.comment_body_holder{
    line-height:22px;
    font:14px/1.5 arial, sans-serif;
    color:#333;
}
/*group new topic*/
#group_newTopic_content{
    margin:20px 0;
}
#group_n_c_postContent,#group_n_c_sideBar,#t_t_l_groupContent{
    padding:18px 14px;
    background-color:white;
    -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
    border:1px solid #EEE;
    box-shadow:0 0 10px 3px rgba(0,0,0,0.3);;
}
#group_n_c_postContent{
    width:630px;
}
#group_n_c_sideBar{
    width:280px;
    margin-left:30px;
}
#group_n_c_postContent div{
    padding:8px;
}
#group_n_c_postContent input,#group_n_c_postContent textarea{
    border:1px solid #CCC;
    font-size:14px;
    padding:8px;
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}
#group_n_c_p_title span,#group_n_c_p_tag span,#group_n_c_p_tag a,#group_n_c_s_back a{
    color:gray;
    line-height:34px;
    padding-left:6px;
}
#group_n_c_p_title img{
    margin:3px;
    -moz-border-radius:3px; -khtml-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
}
#group_n_c_p_body textarea{
    width:590px;
    height:338px;
}
#group_n_c_p_title input{
    width:320px;
}
#group_n_c_p_submit button{
    font-size:16px;
    font-weight:bold;
    height:35px;
    width:100px;
}
#group_n_c_p_tag input{
    width:60px;
}
#group_n_c_s_back img{
    width:80px;
    height:80px;
}
#group_n_c_s_back a{
    line-height:80px;
    font-size:16px;
}
/*talkBar*/
#talkBar-holder{
    position:fixed;
    bottom:0;
    left:12px;
    height:80px;
}
#th-guider{
    width:63px;
    background:url(../images/talk-guide.gif) no-repeat;
    height:80px;
}
#th-talkBox{
    margin-top:8px;
    font-weight:bold;
}
#th-t-onlineNumber{
    position:absolute;
    left:80px;
}
#th-talkBox #th-t-message{
    outline:none;
    outline-width:0;
    color:#333;
    padding:4px;
    font-size:14px;
    line-height:22px;
    position:absolute;
    bottom:8px;
    height:26px;
    width:300px;
    margin:0 16px;
    -moz-border-radius:6px; -khtml-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;
}
#th-talkBox #th-t-message:focus{
    box-shadow:0 0 10px 3px rgba(0,184,255,0.9);
}
#th-messageHolder{
    height:80px;
    overflow:hidden;
    margin-left:340px;
}
.th-message{
    padding:8px;
    margin:0 8px 8px 0;
}
#th-messageHolder .highlight .th-m-message{
    background:#F6D5F2;
}
#th-messageHolder .normal .th-m-message{
    background:#FFEFBD;
}
.th-message .th-m-by{
    position:relative;
    background-color:#C5E16C;
    color:white;
    z-index:300;
    padding:6px 8px;
    margin:0 8px;
}
.th-message .th-m-message{
    position:relative;
    z-index:1;
    padding:8px 8px 16px;
    margin:0 5px;
    text-align:left;
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}
.th-message .th-m-message b{
    border:10px solid #C5E16C;
    border-top:10px solid #FFEFBD;
    position:absolute;
    bottom:-8px;
    left:10px;
    display:block;
}
#th-messageHolder .highlight b{
    border-top:10px solid #F6D5F2;
}
.th-m-time{
    position:relative;
    top:-14px;
    left:-20px;
    z-index:20;
    font-size:12px;
    color:#AAA;
}
/*login/reg*/
#loginForm{
    padding-top:20px;
}
#loginForm li{
    padding-bottom:18px;
}
.imgButton{
    display:block;
    border:none;
    outline:none;
    cursor:pointer;
}
#loginForm-i-login{
    width:84px;
    height:29px;
    background:url(../images/login_reg_icon.png) no-repeat right 0;
}
#loginForm-i-reg{
    width:111px;
    height:29px;
    background:url(../images/login_reg_icon.png) no-repeat right -50px;
}
#loginForm-r-reg{
    width:131px;
    height:35px !important;
    background:url(../images/login_reg_icon.png) no-repeat right -100px;
}
#loginForm-r-login{
    width:81px;
    height:29px;
    background:url(../images/login_reg_icon.png) no-repeat right -150px;
}
.loginForm-title{
    width:116px;
    text-align:right;
}
#loginForm label,.loginForm-title,#loginForm input,#loginForm li{
    height:29px;
    line-height:29px;
    font-size:14px;
}
#loginForm label{
    position:relative;
    top:-10px;
}
#loginForm .textInput{
    width:236px;
    border:1px solid #CFCFCF;
    outline:none;
}
#loginForm .textInput:hover,#loginForm .textInput.hover{
    border-color:#83B900;
}
#loginForm .login{
    width:362px;
}
#loginForm .reg{
    width:100px;
    margin-left:56px;
    padding-left:20px;
    border-left:1px solid #DDD;
}
#loginForm .regForm{
    width:455px;
}
.regForm .textInput{
    width:326px !important;
}
.ucinformation{
    position:absolute;
    z-index:2000;
    display:none;
}
.informationBlock{
    display:block;
}
.ifBox{
    position:relative;
    padding:8px 24px;
    background-color:#52ABEF;
    color:white;
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}
.boxSjOne{
    position:absolute;
    font-size:30px;
    bottom:-15px;
    left:20px;
    color:#52ABEF;
    z-index:201;
}
/*form*/
#formElm{
    margin:20px 0 20px 20px;
}
#formElm li{
    padding-left:30px;
    -moz-border-radius:8px; -khtml-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
    border-right:6px solid #00B8E1;
    border-left:6px solid #00B8E1;
    margin-bottom:12px;
}
#formElm li:hover,#formElm li.hover{
    background-color:#F6F3EE;
    font-weight:bold;
}
#formElm li:hover .ml-r,#formElm li.hover .ml-r{
    display:block;
}
#formElm .ml-l,#formElm .ml-c, #formElm .ml-r{
    float:left;
    line-height:60px;
}
#formElm .ml-l{
    width:180px;
}
#formElm .ml-c{
    padding-right:25px;
}
#formElm .ml-c input{
    height:25px;
    line-height:25px;
    width:300px;
}
#formElm .ml-r{
    width:400px;
    display:none;
    font-weight:normal;
    color:#888;
}
#formElm .ml-r span{
    color:red;
}
#formElm #submitButton{
    border:none;
    width:88px;
    height:26px;
    line-height:26px;
    background:url(../images/submit.gif) no-repeat center;
    cursor:pointer;
}
/*setting*/
#setting-header{
    line-height:32px;
}
#setting-header img{
    height:32px;
    width:32px;
    margin-right:18px;
}
#setting-c-h-a-bigShow img{
    width:320px;
}
#setting-c-h-a-bigShow{
    position:relative;
}
/*market*/
#marketBox{
    position:relative;
}
#marketContent,#subForm{
    padding:20px 10px;
}
.marketContentOnSubmit{
    position:absolute;
}
.channelTitle{
    line-height:40px;
    font-size:24px;
    font-weight:bold;
    color:#404040;
    text-indent:12px;
    border-left:8px solid #F85808;
    border-bottom:3px solid #F85808;
}
.channelTitle span{
    text-indent:30px;
    color:#C4D9AD;
}
.channelServiceList{
    margin:20px 0;
}
.channelServiceList li h3{
    font-size:18px;
    color:#595959;
    line-height:32px;
    text-indent:8px;
    letter-spacing:2px;
    border-bottom:6px solid #00B8E1;
}
.channelServiceList li{
    float:left;
}
.channelServiceList li a{
    display:block;
    padding:20px 20px 20px 96px;
    height:76px;
    width:218px;
    color:#232323;
    -moz-border-radius:8px; -khtml-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
}
.channelServiceList li a:hover,.channelServiceList li a.selected{
    background-color:#F6F3EE !important;
}
/*computer market*/
#cpMk-serviceList #cpMk-s-system a{
    background:url("../images/computer/system-64.png") no-repeat 18px 16px;
}
#cpMk-serviceList #cpMk-s-network a{
    background:url("../images/computer/network-64.png") no-repeat 18px 16px;
}
#cpMk-serviceList #cpMk-s-web a{
    background:url("../images/computer/web-64.png") no-repeat 18px 16px;
}
#cpMk-serviceList #cpMk-s-software a{
    background:url("../images/computer/software-64.png") no-repeat 18px 16px;
}
#cpMk-serviceList #cpMk-s-office a{
    background:url("../images/computer/office-64.png") no-repeat 18px 16px;
}
#cpMk-serviceList #cpMk-s-other a{
    background:url("../images/computer/other-64.png") no-repeat 18px 16px;
}
/*ecard markdet*/
#e-s-apply a{
    background:url(../images/ecard/apply.gif) no-repeat 18px 16px;
}
#e-s-exchange a{
    background:url(../images/ecard/integral.gif) no-repeat 18px 16px;
}
#e-s-union a{
    background:url(../images/ecard/union.gif) no-repeat 18px 16px;
}
#ecSchoolMk-serviceList #ecMk-s-houseHolder a{
    background:url(../images/ecard/houseHolder.png) no-repeat 18px 16px;
}
#ecSchoolMk-serviceList #ecMk-s-students a{
    background:url(../images/ecard/student.png) no-repeat 18px 16px;
}
#ecSchoolMk-serviceList #ecMk-s-teacher a{
    background:url(../images/ecard/teacher.png) no-repeat 18px 16px;
}
#ecSchoolMk-serviceList li{
    position:relative;
}
#eCard-login-form{
    position:absolute;
    padding:20px;
    width:294px;
    top:80px;
    background-color:#F6F3EE;
    -moz-border-radius:8px; -khtml-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
}
#eCard-login-form li{
    padding-right:6px;
    padding-right:6px\9;
    float:left;
}
#eCard-login-form li .ec-l-f-l{
    line-height:28px;
}
#eCard-login-form li .ec-l-f-r input{
    line-height:26px;
    width:132px;
    height:26px;
    height:26px\9;
}
#eCard-login-form button{
    width:132px;
    line-height:26px;
}

/*-----------------------
 * --------ecardSchool---
 * ---------------------*/
#schoolEcard{
    margin:20px 0;
    position:relative;
}
#schoolEcard-functionBar{
    width:120px;
    position:absolute;
    left:10px;
    top:18px;
    z-index:10;
}
#schoolEcard-f-functionList a{
    margin-bottom:8px;
    display:block;
    width:80px;
    height:30px;
    line-height:30px;
    text-align:left;
    padding:4px 20px;
    background-color:#5FBDCE;
    color:#FCFCFC;
    font-weight:bold;
    -moz-border-radius:6px; -khtml-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;
}
#schoolEcard-f-functionList a.selected,#schoolEcard-f-functionList a:hover{
    background-color:#EDEBBC;
    color:#888;
    text-align:center;
}
#schoolEcard-content{
    background-color:#EDEBBC;
    position:relative;
    width:850px;
    padding:20px;
    min-height:400px;
    left:110px;
    z-index:20;
    -moz-border-radius:8px; -khtml-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
}
#schoolEcard-c-functionBox{
    margin:15px 0;
}
.schoolEcard-c-fb{
    float:left;
    width:47%;
    margin:10px;
    min-height:100px;
}
.ui-widget-header{
    padding:6px;
    text-indent:6px;
}
.ui-state-default{
    padding:3px 8px;
}
.ui-widget-header span{
    float:left;
}
#schoolEcard-c-todo{
    min-height:400px;
}
.schoolEcard-c-fb .ui-widget-header{
    cursor:move;
}
#schoolEcard-c-documentsList{
    min-height:360px;
    width:220px;
    margin-right:20px;
}
#schoolEcard-c-myDocumentsList,#schoolEcard-c-draftDocumentsList{
    width:295px;
    min-height:60px;
}
#schoolEcard-c-myDocumentsList{
    margin-right:10px;
}
#schoolEcard-c-draftDocumentsList,#schoolEcard-c-newDocuments,#schoolEcard-c-myDocumentsList{
    margin-bottom:20px;
}
#schoolEcard-c-newDocuments{
    width:600px;
}
#schoolEcard-c-n-sendToBox{
    margin-left:8px;
    padding-top:8px;
}
#schoolEcard-c-n-sendToBox li,#schoolEcard-c-f-t-n-m-receivers li{
    float:left;
    line-height:32px;
    margin-right:8px;
}
#schoolEcard-c-n-body,#schoolEcard-c-n-submit{
    padding:0 8px 8px;
}
#schoolEcard-c-n-b-title{
    padding:8px 0;
}
#schoolEcard-c-n-b-title input{
    width:500px;
}
/*----mail------*/
#schoolEcard-c-f-t-n-main{
    width:640px;
}
#schoolEcard-c-f-t-n-sendTo{
    width:140px;
    margin:0 0 0 10px;
}
#schoolEcard-c-f-t-n-sendTo ul{
    height:475px;
    overflow-y:scroll;
}
#schoolEcard-c-f-t-n-m-r-addBox input{
    width:80px;
}
#schoolEcard-c-f-t-n-b-title{
    margin:8px 0;
}
#schoolEcard-c-f-t-n-b-title input{
    width:500px;
}
#schoolEcard-c-f-t-n-sendTo li{
    padding:4px 6px;
    margin:4px 6px;
    text-indent:12px;
    cursor:pointer;
}
/*---contact----*/
.schoolEcard-c-f-c-l-item{
    padding:10px;
    margin:6px;
    width:29%;
}
.schoolEcard-c-f-c-u-name{
    border-bottom:1px dashed #888;
    padding-bottom:6px;
}
.schoolEcard-c-f-c-u-other li{
    float:left;
    padding:6px 4px 3px;
    font-size:14px;
}
.schoolEcard-c-f-c-u-address{
    padding:3px 0 6px;
    font-size:14px;
}
/*---班级----*/
#schoolEcard-c-f{
    padding:10px;
}
#schoolEcard-c-f-s-list li{
    float:left;
    margin:3px;
    padding:6px;
}
.schoolEcard-c-f-s-architecture{
    background-color:#CDE0ED;
    color:#888;
    border:1px dashed #666;
    cursor:pointer;
}
#schoolEcard-c-f-s-list .selected,#schoolEcard-c-f-s-list .hover{
    background-color:#EDEDED;
    font-weight:bold;
    color:#111;
    border:1px solid #666;
}
#student-List,#student-late-list,#student-leave-list,#student-leaveEarly-list{
    margin:6px;
    -moz-border-radius:8px; -khtml-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
    border:1px solid #DDD;
    background-color:#FFF;
}
#schoolEcard-c-f .functionListTitle{
    padding:6px 0;
    background-color:#EDEDED;
    text-indent:10px;
    border-bottom:1px solid #DDD
    font-size:14px;
    font-weight:bold;
}
#student-List{
    width:440px;
    height:400px;
}
.student-List-student{
    float:left;
    margin:6px;
    padding:6px 2px;
    background-color:#D9ECEF;
    color:#52878F;
    cursor:move;
}
#student-late-list,#student-leave-list,#student-leaveEarly-list{
    width:350px;
    height:124px;
}
.ui-state-error .functionListTitle{
    color:#000;
}
/*---课件----*/
#schoolEcard-c-f-t-n-f-coursePars li{
    float:left;
    margin:6px;
}
/*---------------
 * -----sale-----
 * -------------*/
#saleHolder{
    margin:20px 0;
}
.saleH-cat{
    padding:20px 26px;
    margin-bottom:20px;
    background:whiteSmoke;
    border:1px solid #E2E2E2;
}
.saleH-cat h3{
    line-height:33px;
    font-size:18px;
    position:relative;
    top:-8px;
    left:-8px;
}
.saleH-c-price{
    font-size:18px;
}
.saleH-c-price span{
    color:#ED1B24;
}
.saleH-c-bigGood{
    width:180px;
    text-align:center;
    padding:12px;
    height:232px;
}
.saleH-c-bigGood img{
    width:150px;
    height:150px;
}
.saleH-c-bigGood h4{
    height:54px;
}
.saleH-c-good{
    border:1px solid #EEE;
    cursor:pointer;
    background-color:#EEE;
}
.saleH-cat .hover{
    background-color:#FDF6E3;
}
.saleH-c-smallGood{
    height:107px;
    width:85px;
    padding:10px;
    overflow:hidden;
    position:relative;
}
.saleH-c-smallGood img{
    width:80px;
    height:80px;
}
.saleH-c-smallGood .saleH-c-price{
    display:none;
    position:absolute;
}
.saleH-c-smallGood.hover .saleH-c-price{
    display:block;
    width:105px;
    top:0;
    left:0;
    padding:0 0 0 4px;
    background-color:#EEE;
}
.saleH-c-smallGood h4{
    text-align:center;
}
#goodShowIntroduce{
    font:14px/1.5 arial, sans-serif;
    line-height:25px;
}
#goodShowIntroduce p{
    padding:8px 0;
}
/*saleDeatl*/
#goodShowContent{
    padding:0 0 10px;
    margin:10px 0;
    border-bottom:1px solid #CCC;
}
#goodShowContent_price{
    font-size:18px;
    line-height:36px;
}
#goodShowContent_price span{
    color:#CC0000;
    font-weight:bold;
}
#goodShowContent_price .oldPrice{
    text-decoration:line-through;
}
.gSC_f_submit{
    display:block;
    height:36px;
    width:126px;
    background:url(../images/sale-bt-bg.png) no-repeat top left;
    text-indent:-2000px;
    margin:0 0 0 20px;
}
/*---------------
 * information---
 * -------------*/
#ifMk-tb-kids a{
    background:url(../images/informations/tb-1.png) no-repeat 18px 16px;
}
#ifMk-tb-young a{
    background:url(../images/informations/tb-2.png) no-repeat 18px 16px;
}
#ifMk-tb-person a{
    background:url(../images/informations/tb-3.png) no-repeat 18px 16px;
}
#ifMk-if-job a{
    background:url(../images/informations/job.png) no-repeat 18px 16px;
}
#ifMk-if-2hand a{
    background:url(../images/informations/2hand.png) no-repeat 18px 16px;
}
#ifMk-if-house a{
    background:url(../images/informations/house.png) no-repeat 18px 16px;
}
#ifMk-tb-software a{
    background:url(../images/informations/tb-software.png) no-repeat 18px 16px;
}
#ifMk-tb-games a{
    background:url(../images/informations/tb-game.png) no-repeat 18px 16px;
}
#ifMk-tb-kitchen a{
    background:url(../images/informations/tb-kitchen.png) no-repeat 18px 16px;
}

#t_topic_list{
    width:660px;
    margin:6px 10px 16px;
}
#t_topic_list h3 a{
    font-weight:bold;
}
.forum{
    width:234px;
}
#forum_list thead{
    border-bottom:1px solid #999;
    line-height:24px;
}
#topic_content a{
    color:#328C00;
}
#topic_content a:hover{
    color:#E06840;
}
#topic_content a div{
    color:black;
}
/*----topicList----*/
#t_function_bar{
    width:320px;
    margin-top:20px;
}
#t_f_b_new{
    display:block;
    border-bottom:1px solid #DDD;
    padding:0 12px;
}
#t_f_b_newTopic{
    display:block;
    width:120px;
    height:35px;
    background:url(../images/login_reg_icon.png) no-repeat right -253px;
    text-indent:-3000px;
}
#t_f_b_new span{
    display:block;
    line-height:32px;
    font-size:16px;
}
#t_topic_list table{
    margin:18px 0;
}
#t_topic_list th{
    padding:0 8px;
    text-align:left;
}
#t_topic_list tr{
    line-height:182%;
    border-bottom:1px dashed #888;
    background-color:white;
}
#t_topic_list tr a:hover{
    background-color:#003399;
    color:white;
}
#t_topic_list .newLoad{
    background-color:#F7EAC2;
}
#t_t_l_table_title{
    width:260px;
}
#t_t_l_table_postBy{
    width:92px;
}
#t_t_l_table_view{
    width:46px;
}
#t_t_l_table_reply{
    width:50px;
}
.t_t_l_table_lastUpdate{
    color:#888;
}
#t_p_l_t_comments textarea{
    border:1px solid #BABABA;
    -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height:1.2;
    width:86%;
    height:100px;
    border-color:#7C7C7C #CCC #CCC #DDD;
    padding:2px;
    border-width:1px;
    border-style:solid;
    font-size:12px;
    font:12px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#t_p_l_t_c_n_submit{
    outline:none;
    height:35px;
    width:120px;
    border:none;
    cursor:pointer;
    text-indent:-2000px;
    background:url(../images/login_reg_icon.png) no-repeat right -200px;
}
#t_p_l_t_c_new .act{
    text-align:right;
}
#t_p_l_c_n_content{
    padding:0 0 14px;
}
#t_p_l_c_n_content .userAvatar{
    width:64px;
    height:64px;
    padding-right:18px;
}
#t_p_l_t_comments{
    margin-top:16px;
    padding-top:18px;
    border-top:1px solid #DDD;
    position:relative;
}
#t_p_l_t_c_tip{
    position:absolute;
    top:-18px;
    left:40px;
    display:block;
    padding:8px 14px;
    background-color:#F85808;
    color:white;
    z-index:200;
    font-weight:bold;
}
#t_p_l_t_content p{
    padding:3px;
    font-size:16px;
    line-height:28px;
    text-indent:28px;
}
#t_p_l_t_content img{
    background:#EEE;
    padding:6px;
    border:1px solid #CCE7F1;
    margin:3px 0;
}
.comment_info li{
    float:left;
    margin-right:14px;
    font-size:14px;
    line-height:19px;
}
.comment{
    padding:8px 20px 8px 70px;
    border-left:5px solid #8EC953;
    border-right:5px solid #8EC953;
    border-top:1px solid #8EC953;
    border-bottom:1px solid #8EC953;
    margin-bottom:16px;
    background-color:#F6F3EE;
    position:relative;
}
.comment_body{
    margin:10px 0;
    line-height:20px;
    font-size:16px
}
.comment_floor{
    font-weight:bold;
    color:#DD4B39;
}
.comment .usersAvatar{
    position:absolute;
    top:12px;
    left:8px;
    width:50px;
    height:50px;
}
.pageList li{
    float:left;
    margin-right:8px;
}
.pageList li a{
    display:block;
    padding:8px;
}
.pageList li .pageNow{
    background-color:#328C00;
    color:#FFF !important;
}
/*----newTopic------*/
#t_t_l_title input{
    width:93%;
    line-height:23px;
    outline:none;
    border:none;
    background-color:#EEE;
    border-bottom:1px solid #DDD;
}
#t_t_l_title{
    margin-bottom:10px;
}
#t_p_l_topic{
    padding:0 0 12px;
}
#t_p_l_t_content h1{
    font-size:14px !important:
    font-weight:bold !important;
    padding:2px 18px !important;
    border-bottom:1px solid #CCC !important;
    color:#555;
}
#t_p_l_t_content{
    line-height:24px;
    background-color:#EEE;
    padding:12px;
}
#t_p_l_t_c_info li{
    float:left;
    margin-right:12px;
    font-size:14px;
    line-height:19px;
}
.topic_date{
    color:#888;
}
#t_p_l_t_c_info{
    margin-bottom:10px;
}
#t_p_l_c_n_title{
    position:relative;
    height:1px;
    margin:26px;
    border-bottom:1px solid #DDD;
}
#t_p_l_c_n_title h3{
    position:absolute;
    padding:8px 14px;
    background-color:#F85808;
    color:white;
    top:-18px;
    left:14px;
}
#t_p_l_c_n_title h3 a{
    color:#EEE;
    font-weight:bold;
}
#t_p_l_c_n_title h3 a:hover{
    color:white;
    background-color:#003399;
}
/*-----newGroup------*/
.PopPage_Content h1{
    font-size:20px;
    font-weight:bold;
    line-height:30px;
    border-bottom:1px solid #CCC;
}
#pop_group_new{
    margin:15px 0 20px;
}
#pop_group_new li.clearfix{
    margin:5px 0;
}
#pop_group_new ul{
    padding-bottom:12px;
    border-bottom:1px solid #CCC;
    margin-bottom:12px;
}
.p_g_n_title{
    width:80px;
    color:#060;
    font-size:14px;
    line-height:30px;
    text-align:right;
    padding-right:10px;
}
.p_g_n_input input,.p_g_n_input textarea{
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
    font-size:12px;
    padding:5px;
    border:1px solid #C9C9C9;
    height:18px;
    width:300px;
    outline:none;
}
.p_g_n_input textarea{
    width:372px;
    height:267px;
}
#ifMk-groupList{
    padding-top:10px;
}
#ifMk-groupList li{
    height:66px;
    padding:16px;
    width:296px;
    border-bottom:1px solid #DDD;
}
#ifMk-groupList .ifMk-g-newGroup a{
    display:block;
    width:226px;
    padding-left:70px;
    background:url(../images/informations/add.png) no-repeat 0 3px;
    height:100%;
    line-height:66px;
    font-size:12px;
    color:#FD8057;
}
#ifMk-groupList a:hover{
    background-color:whiteSmoke !important;
    text-decoration:underline;
}
#t_f_b_joinGroup{
    display:block;
    width:118px;
    height:35px;
    background:url(../images/login_reg_icon.png) no-repeat left -150px;
    text-indent:-2000px;
}
.ifMk-g-groups img.left{
    width:66px;
    height:66px;
    margin-right:3px;
}
/*---------------------------
 * ----------living----------
 * -------------------------*/
.l-catHolder{
    padding:14px;
    margin:18px 0;
    background:#FDFDFD;
    border:1px solid #E2E2E2;
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
    box-shadow:0 1px 3px rgba(219, 219, 219, 0.5);
    color:#404040;
}
.l-catHolder .l-catTitle{
    line-height:32px;
    font-size:18px;
    font-weight:bold;
    border-bottom:1px solid #DDD;
}
.l-catContent .t-c-ad{
    padding:8px;
}
.l-catContent .t-c-ad a{
    display:block;
    border:3px solid #FDFDFD;
}
.l-catContent .t-c-ad a:hover{
    border:3px solid #8EC953;
}
.l-catContent .t-c-ranking{
    width:360px;
}
.t-c-r-shops-index1{
    padding:10px;
    margin:5px;
    width:340px;
}
.t-c-r-shops{
    position:relative;
}
.t-c-r-shops-index2 .t-c-r-s-points,.t-c-r-shops-index3 .t-c-r-s-points{
    right:0;
    top:-10px;
    padding:3px 8px;
}
.t-c-r-shops-index1 .t-c-r-s-points{
    left:78px;
    top:78px;
}
.t-c-r-s-index{
    width:40px;
    padding-right:16px;
    font-size:80px;
    line-height:60px;
    color:#888;
}
.t-c-r-shops-index2,.t-c-r-shops-index1{
    border-bottom:1px solid #DDD;
}
.t-c-r-shops-index2,.t-c-r-shops-index3{
    padding:9px 0 9px 16px;
    color:#999;
}
.t-c-r-shops-index1 .t-c-r-s-index{
    width:40px;
    height:120px;
    line-height:120px;
    font-size:100px;
    padding-right:16px;
    font-weight:bold;
    color:#666;
}
.t-c-r-s-points{
    position:absolute;
    background-color:#8EC953;
    color:white;
    font-weight:bold;
    padding:12px 16px;
    font-size:18px;
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
    box-shadow:0 1px 3px rgba(219, 219, 219, 0.5);
}
.t-c-i-detal img,.t-c-r-s-img,.t-c-r-s-img img{
    width:60px;
    height:60px;
}
.t-c-r-s-i-address,.t-c-n-i-shop{
    color:#666;
}
.t-c-n-i-title{
    color:#369;
}
.t-c-n-i-title:hover{
    text-decoration:underline;
}
.t-c-r-s-inContent{
    width:210px;
    padding-left:8px;
}
.t-c-r-s-inContent h3{
    line-height:24px;
    color:#888;
    font-weight:bold;
    font-size:14px;
}
.t-c-r-s-i-introduce{
    color:#999;
    font-size:12px;
    line-height:22px;
}
.t-c-infos,.t-c-newShop{
    height:190px;
    overflow:hidden;
}
.t-c-n-items{
    height:18px;
    overflow:hidden;
    display:block;
}
.t-c-infos{
    width:236px;
    margin-right:10px;
}
.t-c-n-i-shop{
    padding-right:6px;
}
.t-c-newShop{
    width:186px;
}
.t-c-i-title{
    font-size:14px;
    font-weight:bold;
    line-height:30px;
    color:#DA4600;
}
.t-c-i-d-infos{
    width:120px;
}
.t-c-i-detal{
    background-color:#F6F3EE;
    padding:12px 0;
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}
.t-c-i-detal h5{
    font-weight:bold;
    color:#888;
}
.t-c-i-d-infos div{
    color:#666;
}
.t-c-s-i-hilight a{
    color:#AA000A;
}
.t-c-s-i-hilight a:hover{
    text-decoration:underline;
}
.t-c-newShop h4{
    line-height:20px;
    margin:0 8px;
}
.t-c-newShop li{
    cursor:pointer;
}
.t-c-shops{
    width:428px;
}
.t-c-s-items{
    line-height:22px;
    padding:0 4px;
}
#detal-shop{
    position:relative;
}
#d-s-points{
    position:absolute;
    padding:10px 20px;
    background-color:#8EC953;
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
    color:whiteSmoke;
    top:-10px;
    font-size:25px;
    right:100px;
}
#detal-shop{
    text-align:left;
}
#detal-shop h2{
    font-size:20px;
    font-weight:bold;
    line-height:30px;
    border-bottom:1px solid #CCC;
}
#d-s-useful{
    margin:20px 0;
    border-bottom:1px solid #CCC;
}
#d-s-useful .left{
    padding:0 12px 14px 12px;
}
#d-s-u-icon{
    width:60px;
    height:60px;
}
#d-s-u-infos{
    width:240px;
    border-left:1px solid #DDD;
    border-right:1px solid #DDD;
}
#d-s-u-i-introduce{
    text-indent:28px;
    font-weight:bold;
    color:#888;
}
#d-s-u-infos2 span{
    color:#666;
}
#d-s-u-infos2{
    width:220px;
    color:#336699;
}

#d-s-m-rate{
    width:300px;
}
#d-s-m-map{
    width:280px;
    height:200px;
    box-shadow:2px 3px 3px 0 rgba(0, 0, 0, 0.1);
}
#d-s-m-r-point,#d-s-m-rate ul{
    padding-bottom:4px;
    margin-bottom:4px;
    border-bottom:1px solid #DDD;
}
#d-s-m-rate .rates{
    padding-top:2px;
}
#d-s-m-r-comment{
    outline:none;
    margin-top:6px;
    line-height:20px;
    width:275px;
}
#d-s-m-r-comment:focus{
    border-color:#EEE;
    box-shadow:0 0 10px 3px rgba(0,184,255,0.4);
}
#d-s-comment{
    margin:26px 0;
    padding-top:15px;
    position:relative;
    border-top:1px solid #DDD;
}
#d-s-c-title{
    display:block;
    position:absolute;
    padding:6px 18px;
    color:whiteSmoke;
    font-weight:bold;
    background-color:#F85808;
    top:-16px;
    left:20px;
}
.d-s-c-c-points{
    margin-top:8px;
}
.d-s-c-c-points li,.d-s-c-c-body{
    padding:0 12px;
}
.d-s-c-c-body{
    font-weight:bold;
    color:#404040;
}
.d-s-c-comments{
    position:relative;
    margin:12px;
    padding:0 0 12px;
    border-bottom:1px dashed #DDD;
}
.d-s-c-c-time{
    position:absolute;
    right:100px;
    bottom:-8px;
    background:whiteSmoke;
    padding:6px 8px;
    color:#AAA;
    border:1px dashed #DDD;
}
.d-s-c-c-points{
    -moz-opacity:.3; opacity:.3; -ms-filter:"alpha(opacity=30)"; filter:alpha(opacity=30); zoom:1;
}
/*-------------------------------
 * -------------infos------------
 * -----------------------------*/
#infoM-catList li,#infoM-subCatList li{
    float:left;
}
#infoM-catList a,#infoM-subCatList a,.infoM-catList-title{
    display:block;
    font-size:16px;
    padding:4px 12px;
    margin:10px;
    color:#197AC5;
}
#infoMarket .infoM-catList-title{
    color:#333;
}
#infoM-catList a:hover,#infoM-subCatList a:hover{
    text-decoration:underline;
}
#infoM-catList a.actCat,#infoM-subCatList a.actCat{
    background-color:#93C5EA;
    font-weight:bold;
    color:white;
}
#infoM-catList,#infoM-subCatList{
    border-bottom:1px dashed #DDD;
}
#infoM-catList button{
    margin-top:9px;
}
#infoM-catList button span{
    color:#F85808;
}
.infoM-n-c-mainCat div{
    padding:8px 6px;
    margin:12px 0;
    font-size:18px;
    border-bottom:1px dashed #DDD;
    font-weight:bold;
    font-family:"宋体";
}
.infoM-n-c-mainCat li{
    float:left;
    margin:3px;
    width:100px;
}
.infoM-n-c-mainCat ul{
    padding-left:22px;
}
.infoM-n-c-mainCat li a{
    line-height:25px;
    font-size:14px;
    letter-spacing:1px;
    color:#197AC5;
    font-family:"宋体";
}
.redStar{
    font-size:16px;
    line-height:16px;
    color:red;
}
#infoM-new-form li{
    margin:6px 0;
}
#infoMarket h3.clearfix,#infoM-new-side h3{
    font-size:14px;
    font-weight:bold;
    line-height:24px;
    margin:10px 0;
    border-bottom:6px solid #D5E6ED;
    padding:0 12px;
}
#infoM-new-form li input,#infoM-new-form li textarea{
    border:1px solid #CCC;
    float:left;
    font-size:14px;
    padding:6px;
    width:600px;
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}
#infoM-new-form li textarea{
    height:120px;
}
#infoM-new-form li span{
    float:left;
    width:76px;
    line-height:30px;
    text-align:right;
}
#infoM-new-main{
    width:700px;
}
#infoM-new-side{
    width:280px;
    margin-left:18px;
}
#infoM-infoList .infoItems{
    width:236px;
    height:260px;
    margin:4px;
    border:1px solid #DDD;
    -moz-border-radius:8px; -khtml-border-radius:8px; -webkit-border-radius:8px; border-radius:8px;
    background-color:whiteSmoke;
}
.infoItemHeader{
    padding:6px;
    text-align:center;
    font-size:16px;
    color:#197AC5;
    letter-spacing:1px;
    border-bottom:1px solid #DDD;
}
.infoItemBody{
    background-color:white;
    padding:8px;
    letter-spacing:1px;
    font-size:14px;
    color:#666;
    border-bottom:1px dashed #DDD;
    height:170px;
}
.infoItemBody_body{
    text-indent:14px;
}
.infoItemBody p{
    padding-bottom:8px;
}
.infoItemFooter{
    line-height:22px;
    padding:0 8px;
    color:#999;
}
.infoItemPrice{
    color:#FF3300;
}
/*-------------------------------
 * -------------footer-----------
 * -----------------------------*/
#footer{
    border-top:1px solid #8BC;
}
#footerMark{
    position:absolute;
    background-color:#F85808;
    color:white;
    padding:6px 14px;
    font-weight:bold;
    font-size:14px;
    top:-18px;
    right:50px;
}
#footerMark span{
    color:#FDF6E3;
}
#footerContent{
    position:relative;
    width:1004px;
    padding:16px 10px 60px;
    margin:0 auto;
    background:url(../images/logo.gif) 25px 24px no-repeat;
}
#footerC-QRIntroduce{
    margin:0 0 0 60px;
    text-align:right;
    line-height:26px;
    font-size:16px;
    padding:6px 16px 6px 0;
    border-right:1px solid #DDD;
    text-shadow:0 1px 1px whiteSmoke;
    color:#333;
}
#footerC-QRHolder{
    height:128px;
    width:146px;
    padding:8px 4px;
    border-left:1px solid #ABC;
    background:url(../images/QrCode.png) 16px 8px no-repeat;
}
#footerC-about{
    text-align:left;
    font-size:14px;
    line-height:20px;
    width:520px;
    padding:8px;
}
#footerC-about li{
    float:left;
    padding:0 16px 0 0;
}
#footerC-about a{
    color:#000;
    font-weight:bold;
}
#footerC-about a:hover{
    color:#C00909;
}
#footerC-introduce{
    color:#444;
    text-indent:28px;
    display:block;
    padding-bottom:8px;
}
/*--------------------------------
 * -----------ie fix--------------
 * ------------------------------*/
 .ie #content{ height:210px;}
.ie #t_topic_list{
    width:650px;
    overflow:hidden;
}
.ie #t_topic_list th,.ie #forum_list td{
    font-weight:normal;
    text-align:left;
    border-bottom:1px dashed black;
}
.ie #t_topic_list table,.ie #forum_list table{
    border-collapse: collapse;
    border-spacing: 2px;
}
.ie #order-form input,.ie #order-form button{
    margin-top:16px;
}
.ie #loginForm label{
    top:-6px;
}
.ie .comment .usersAvatar{
    left:-60px;
}
.ie #siteBar #siteBar-itemList{
    position:absolute;
    left:10px;
    top:expression(eval(document.documentElement.scrollTop)+60);
}
.ie #gotop{
    position:absolute;
    top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight)-70);
}
.ie #loginForm .reg{
    margin-left:38px;
}
.ie .mC-e-g-item .img{
    display:block;
    font-size:109px;
    font-family:Arial;
}
.ie #talkBar-holder{
    position:absolute;
    top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight)-70);
}
